<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600187168194-48ld08fkuabvt785u1t6jt7nmo0aqqr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600187168194-48ld08fkuabvt785u1t6jt7nmo0aqqr0</string>
	<key>API_KEY</key>
	<string>AIzaSyAOHRo23w2EVtRZN29591l1hWWCgIuekeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>600187168194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.huevosLaGranja</string>
	<key>PROJECT_ID</key>
	<string>apphuevoslagranja</string>
	<key>STORAGE_BUCKET</key>
	<string>apphuevoslagranja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600187168194:ios:2de064c40c03e795b2a25b</string>
</dict>
</plist>